<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--General Settings-->
		<add key="TotalShards" value="1"/>
		<add key="MessageCacheSize" value="0"/>

		<!--Amd Module Settings-->
		<add key="AmdBaseCheckUrl" value="https://www.amd.com/en/direct-buy/products/{ProductId}/at"/>
		<add key="AmdBaseOpenUrl" value="https://www.amd.com/en/direct-buy/{ProductId}/at"/>
		<add key="AmdErrorUrl" value="https://www.amd.com/en/direct-buy/at"/>
		<add key="AmdCheckString" value="Add to cart"/>
		<add key="AmdInQueueCheckString" value="You are now in turn"/>
		<add key="AmdCheckInterval" value="15"/>
		<add key="AmdDbLocation" value="Data Source=../amdstock.db"/>
	</appSettings>
</configuration>